$wall-color: rgb(121, 121, 121);

.cell {
  border-top: 1px solid $wall-color;
  border-right: 1px solid $wall-color;
  border-bottom: 1px solid $wall-color;
  border-left: 1px solid $wall-color;
}

.active {
  background-color: black;
}
