.center {
  margin: auto;
}

.grid {
  display: grid;
}

.input-side-length {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.slider {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 16px;
}
